<ng-container *ngTemplateOutlet="searchBar"></ng-container>
<div class="cards-container">    
    <div class="card-container mb-3" *ngFor="let pokemon of pokeList">
        <img [src]="pokemon?.gif" class="img">
        <p class="pokeName">{{pokemon?.name}}</p>
        <span class="dexEntry">Number : {{pokemon?.id}}</span>
        <div class="type-container">
            <span *ngFor="let type of pokemon?.types" class="pokeType"
                [style.background-color]="getColor(type?.type?.name)"
            >{{type?.type?.name}}</span>
        </div>
    </div>
</div>

<ng-template #searchBar>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="pokeName">Pokedex (pokeapi)</span>
            <div class="d-flex mlauto">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #search>
                <button class="btn btn-outline-success" (click)="searchText(search.value)">Search</button>
            </div>
        </div>
    </nav>
</ng-template>