.bgImg{
    background-image: url('https://cdn.sanity.io/images/dm4o0ui7/production/1a87a7646fd655e87a4dcccb8a2d5219651e4b18-1080x540.png');
    height: 950px;
    width: auto;
    background-repeat: no-repeat;
    background-size: contain
}